.container {
  height: 65vh;
  width: 20vw;
  border: 1px solid var(--light-orange);
  background-color: #fff;
  color: var(--dark);
  position: fixed;
  top: 25vh;
  left: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-product-btn {
  border: none;
  border-radius: 1rem;
  background-color: var(--dark);
  color: #fff;
  padding: 1rem;
  width: fit-content;
  margin: 1rem 0 2rem 0;
}

h2 {
  margin-bottom: 1.5rem;
  font-weight: bold;
  color: var(--dark);
}

label {
  display: block;
}

.save-btn {
  margin-top: 1rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  background-color: var(--light-orange);
  color: #fff;
  font-size: 1.5rem;
}

.group {
  margin-bottom: 1rem;
}

form input, form select {
  border-radius: 0.3rem;
  padding: 0.3rem;
}