<div class="info-box">
  <div class="orders-amount info-part">
    {{ numOfAllOrders }}
    {{ numOfAllOrders === 1 ? "order" : "orders" }} submitted in our store
  </div>
  <div class="products-amount info-part">
    {{ numOfAvailableProducts }}
    {{ numOfAvailableProducts === 1 ? "product is" : "products are" }} currently
    available in our store
  </div>
  <div class="notifications info-part" *ngIf="userDetails$ | async">
    <div *ngIf="!(userDetails$ | async)!.isAdmin">
      Notification: <br />
      {{ notifications }}
    </div>
  </div>
</div>
