<div class="about-box">
  <img
    src="https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8c3VwZXJtYXJrZXR8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60"
  />

  <p class="about-para">
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id consequuntur
    vero ea natus quod praesentium quas fuga, eos officia dignissimos nisi
    mollitia perferendis voluptas quia debitis dolor dolorem dolorum doloribus
    cum laudantium rem, possimus molestias porro nostrum. Suscipit rem adipisci
    vitae doloribus eligendi vel nemo aperiam nesciunt quam voluptatem dolores
    ullam quia, rerum assumenda porro cumque. Dolore cumque consequatur minima.
  </p>
</div>
